doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/app.css')
	body
		block content


		script(src='/javascripts/vendor/requirejs/require.js')
		script(src='/javascripts/vendor/jquery/jquery.js')
		script(src='/javascripts/vendor/underscore/underscore.js')
		script(src='/javascripts/vendor/backbone/backbone.js')
		
		//
			script(src='/javascripts/vendor/backbone.stickit/backbone.stickit.js')
			script(src='/javascripts/vendor/foundation/foundation.js')

		script(src='/javascripts/app/main.js')